MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_REGISTRY_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=default

SERVING_MODEL_NAME=f1-predictor
SERVING_MODEL_VERSION=1
#SERVING_MODEL_ALIAS= INACTIVE FOR NOW
SERVING_HOST=0.0.0.0
SERVING_PORT=8000
SERVING_ENVIRONMENT=development